@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap");

:root {
  font-family: "Space Grotesk", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #120f0a;
  background-color: #fefaf5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

[data-theme="dark"] {
  --text-color: #e5e5e5;
  --background-color: #333333;
}

/** Default light theme */
body {
  --text-color: #120f0a;
  --background-color: #fefaf5;
  margin: 0;
  min-height: 100vh;
  background: var(--background-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}